<footer class="footer">
    <div class="footer-wrapper container">
        <div class="footer-links-wrapper">
            <ul class="footer-links">
                <li class="footer-link">About Us</li>
                <li class="footer-link">Contact Us</li>
                <li class="footer-link">Carrier</li>
            </ul>
            <ul class="footer-links">
                <li class="footer-link">Your Account</li>
                <li class="footer-link">Delivery Costs</li>
                <li class="footer-link">Payments</li>
                <li class="footer-link">Returns</li>
            </ul>
            <ul class="footer-links">
                <li class="footer-link">Legal</li>
                <li class="footer-link">Privacy Policy</li>
            </ul>
        </div>
        <div class="footer-media">
            <p class="footer-media-title">Follow us on social media!</p>
            <div class="footer-icons">
                <div class="social-media-icon">
                    <img src={{ asset('build/images/icons/fb.svg') }} alt="facebook icon">
                </div>
                <div class="social-media-icon">
                    <img src={{ asset('build/images/icons/twitter.svg') }} alt="facebook icon">
                </div>
                <div class="social-media-icon">
                    <img src={{ asset('build/images/icons/insta.svg') }} alt="facebook icon">
                </div>
            </div>
        </div>
        <p class="footer-copyrights">&copy; e-bookstr All rights reserved. All trademarks and registered trademarks are the property of their respective owners. </p>
    </div>
</footer>