$color-font-main: #303030;
$color-main-dark: #101016;
$color-main-light: #d8d8d8;
$color-main-blue: #3f88c5;
$color-bg: #d8d8d8;
$color-icon: rgba(0, 0, 0, 0.54);
$color-light-grey: #8d8d8d;
$color-red-price: rgb(209, 63, 45);