.categories-menu {
    font-size: 1.6rem;
    @include flexbox(row, flex-start, stretch);
}

.categories-list {
    background-color: #fff;
    padding: 2rem 0;
    width:205px;
    position: relative;
    .categories-list-item {
        padding: 2rem;
        cursor: pointer;
        transition: color .1s linear;
        .categories-link {
            display: inline-block;
            width: 100%;
            position: relative;
        }
        .category-arrow-right {
            font-size: 18px;
            color: $color-icon;
            position: absolute;
            right: 0;
        }
        &:hover, &:hover > .category-arrow-right  {
            color: $color-main-blue;
        }
    }
}

.subcategories-list {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    height: 100%;
    width: 1045px;
    display: none;
    color: initial;
    &.active {
        display: inline-grid;
        border-left: 1px solid $color-bg;
        padding: 4rem 2rem;
        grid-template-columns: repeat(3, 250px);
        align-content: space-between;
    }
}


@keyframes slide {

}