.section-big-menu{
    @include flexbox(row, flex-start, stretch);
    height: max-content;
}

.categories-menu {
    font-size: 1.6rem;
    @include flexbox(row, flex-start, stretch);
}

.categories-list {
    background-color: #fff;
    padding: 2rem 0;
    width: 205px;
    position: relative;
    .categories-list-item {
        padding: 2rem;
        cursor: pointer;
        transition: color .1s linear;
        .categories-link {
            display: inline-block;
            width: 100%;
            position: relative;
        }
        .category-arrow-right {
            font-size: 18px;
            // color: $color-icon;
            position: absolute;
            right: 0;
        }
        &:hover, &:hover > .category-arrow-right  {
            color: $color-main-blue !important;
        }
    }
}

.subcategories-list {
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    height: 100%;
    width: 1045px;
    display: none;
    color: initial;
    z-index: 100;
    &.active {
        display: inline-grid;
        border-left: 1px solid $color-bg;
        padding: 4rem 2rem;
        grid-template-columns: repeat(3, 250px);
        align-content: space-between;
    }
}

.banner-wrapper {
    position: relative;
    z-index: 1;
    transition: opacity 0.5;
    &:before, &:after {
        font-family: 'Material Icons';
        font-size: 48px;
        -webkit-font-feature-settings: 'liga' 1;
        -moz-font-feature-settings: 'liga' 1;
        font-feature-settings: 'liga' 1;
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        border-radius: 50%;
        @include flexbox(row, center, center);
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: $color-icon;
        opacity: 0;
    }
    &:before {
        content: 'chevron_left';
        left: 1rem;
     
    }
    &:after {
        content: 'chevron_right';
        right: 1rem;
    }
    &:hover:before, &:hover:after {
        opacity: 100%;
    }

    .banner-main {
        max-height: 400px;
        width: 1045px;
        object-fit: cover;
    }
}


@keyframes slide {

}