.section-main {
    background-color: #fff;
    margin-top: 3rem;
    .section-main-title {
        @include fluid-font(22px, 32px);
        border-top: 1px solid $color-font-main;
        border-bottom: 1px solid $color-font-main;
        padding: 2rem 1rem;
        color: $color-font-main;
    }
    .section-cards {
        @include flexbox(row, space-between, stretch);
        .product-card {
            border: 1px solid transparent;
            padding: 2rem 1rem;
            overflow: hidden;
            cursor: pointer;
            flex: 1;
            &:not(:last-child) {
                margin-right: 0.5rem;
            }
            &:hover {
                border: 1px solid $color-light-grey;
            }
        }
        .product-card-title {
            @include fluid-font(12px, 14px);
            font-weight: 800;
            padding-top: 1rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .product-card-creator, .product-card-rating, .product-card-price {
            @include fluid-font(12px, 14px);
            padding-top: .6rem;
        }

        .product-card-price {
            font-weight: 800;
            color: $color-red-price;
            text-align: right;
        }

        .product-card-more {
            @include flexbox(row, center, center);
        }
        .product-card.product-card-more .product-card-title {
            @include fluid-font(22px, 26px);
            color: $color-light-grey;
        }
        .product-card-ellipsis {
            display: block;
            text-align: center;
        }
    }
}